@import "components/index";

/* FLEX */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-fill {
  flex: 1;
}

/* MISC */
.full-width {
  width: 100%;
}